* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea {
	border: 0;
	background: none;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

::-webkit-scrollbar {
	display: none;
}

svg-icon-sprite {
	aspect-ratio: 1/1;
	display: block;
	width: 20px;
	svg {
		display: block;
		width: 100%;
		height: 100%;
		fill: rgb(255 255 255);
	}
}

body {
	background-color: rgb(245 227 201);
	font-family: "Amaranth", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	color: rgb(132 50 37);
	&.hidden {
		overflow: hidden;
	}
}

.container {
	width: calc(100% - 40px);
	margin: 0 auto;
	max-width: 1920px;
}

header {
	height: 83px;
	position: sticky;
	top: 0;
	z-index: 99;
	border-radius: 0 0 22px 27px;
	background-size: 46px 83px, 46px 83px, auto 83px;
	background-position: left center, right center, left 46px center;
	background-repeat: no-repeat, no-repeat, repeat;
	background-image: url(../images/header-left-bg.a80677a256414570.png),
		url(../images/header-right-bg.d7ca75008e1618f9.png),
		url(../images/header-center-bg.webp);
	.container {
		height: 100%;
		max-width: none;
		width: calc(100% - 48px);
	}
	&.active {
		.header__btn {
			&:last-child {
				background-image: url(../images/primary-left.webp),
					url(../images/primary-right.webp), url(../images/primary-center.webp);
			}
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.header__left {
	display: flex;
	align-items: center;
	gap: 15px;
}

.burger {
	display: none;
}

.header__logo {
	width: 154px;
	aspect-ratio: 154/52;
	img {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.header__icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 10px;
	background-color: rgb(102 27 37);
	box-shadow: 0 2px 1px rgb(82 20 28) inset;
	svg-icon-sprite {
		width: 20px;
	}
}

.header__right {
	display: flex;
	gap: 10px;
	align-items: center;
}

.header__search {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 40px;
	width: 300px;
	padding: 0 16px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: rgb(102 27 37);
	box-shadow: 0 2px 1px 0 rgb(82 20 28) inset;
	color: rgb(255 255 255 / 0.3);
	line-height: 1.2;
	svg-icon-sprite {
		width: 16px;
		svg {
			fill: rgb(255 204 1);
		}
	}
}

.header__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	text-transform: uppercase;
	color: rgb(255 255 255);
	background-size: 18px 100%, 18px 100%, auto 100%;
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: left center, right center, left 18px center;
	text-shadow: 0 2px 0 rgb(138 75 44 / 0.4), 1.4px 0 0 rgb(138 75 44),
		0.6px 1px 0 rgb(138 75 44), -0.6px 1.2px 0 rgb(138 75 44),
		-0.2px 0.2px 0 rgb(138 75 44), -1px -0.9px 0 rgb(138 75 44),
		0.5px -1.2px 0 rgb(138 75 44), 1.4px -0.5px 0 rgb(138 75 44);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.02em;
	background-image: url(../images/secondary-left.webp),
		url(../images/secondary-right.webp), url(../images/secondary-center.webp);
	padding: 0 24px;
	border-radius: 11px;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 232px;
	padding-top: 83px;
	z-index: 98;
	overflow: auto;
	display: flex;
	flex-direction: column;
	transition-duration: 0.3s;
	background-position: left top, left bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% calc(100% - 59px), 100% 60px;
	background-image: url(../images/side-bar-main.webp),
		url(../images/side-bar-bottom-decor.webp);
	.header__search {
		display: none;
	}
	&.active {
		width: 80px;
		.sidebar__list a {
			&::after {
				display: none;
			}
			span:nth-child(2) {
				display: none;
			}
		}
		.sidebar__footer {
			grid-template-columns: repeat(1, 1fr);
			a {
				span,
				p,
				svg-icon-sprite {
					display: none;
				}
			}
		}
	}
}

.sidebar__menu {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

.sidebar__line {
	display: none;
}

.sidebar__list {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0 12px;
	&:after {
		position: static;
		height: 10px;
		margin: 2px 0;
		background-image: url(../images/side-bar-list-swirl-decor.webp);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: 204px auto;
		background-color: transparent;
		box-shadow: none;
		overflow: hidden;
		width: 100%;
		content: "";
	}
	&:nth-child(4) {
		padding: 0;
		a {
			color: rgb(255 204 1);
			border-image: linear-gradient(
					90deg,
					rgb(255 204 1) 0%,
					rgba(255 204 1 / 0) 100%
				)
				1;
			background: linear-gradient(
				90deg,
				rgb(168 99 6) 20%,
				rgba(138 75 44 / 0)
			);
			padding-left: 32px;
			&::before {
				content: "";
				position: absolute;
				width: 7px;
				height: 42px;
				background-image: url(../images/polygon-active.2447e1df0ce848df.svg);
				background-position: center;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				left: 0;
			}
			span:nth-child(1) {
				&::before {
					background-image: url(../images/m2.svg);
				}
			}
		}
	}
	&:nth-child(6) {
		li {
			&:nth-child(1) {
				a span:nth-child(1)::before {
					background-image: url(../images/m3.svg);
				}
			}
			&:nth-child(2) {
				a span:nth-child(1)::before {
					background-image: url(../images/m4.svg);
				}
			}
			&:nth-child(3) {
				a span:nth-child(1)::before {
					background-image: url(../images/m5.svg);
				}
			}
		}
	}
	&:nth-child(8) {
		li {
			&:nth-child(1) {
				a span:nth-child(1)::before {
					background-image: url(../images/m6.svg);
				}
			}
			&:nth-child(2) {
				a span:nth-child(1)::before {
					background-image: url(../images/m7.svg);
				}
			}
			&:nth-child(3) {
				a span:nth-child(1)::before {
					background-image: url(../images/m8.svg);
				}
			}
		}
	}
	&:nth-child(10) {
		li {
			&:nth-child(1) {
				a span:nth-child(1)::before {
					background-image: url(../images/m9.svg);
				}
			}
			&:nth-child(2) {
				a span:nth-child(1)::before {
					background-image: url(../images/m10.svg);
				}
			}
			&:nth-child(3) {
				a span:nth-child(1)::before {
					background-image: url(../images/m11.svg);
				}
			}
			&:nth-child(4) {
				a span:nth-child(1)::before {
					background-image: url(../images/m12.svg);
				}
			}
		}
	}
	&:nth-child(12) {
		li {
			&:nth-child(1) {
				a span:nth-child(1)::before {
					background-image: url(../images/m13.svg);
				}
			}
		}
	}
	li {
		width: 100%;
	}
	a {
		position: relative;
		display: flex;
		align-items: center;
		height: 44px;
		gap: 12px;
		width: 100%;
		padding: 0 20px;
		color: rgb(255 255 255);
		font-weight: 700;
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		text-shadow: 1px 1px 1px rgb(132 50 37), -1px -1px 1px rgb(132 50 37),
			1px -1px 1px rgb(132 50 37), -1px 1.5px 1px rgb(132 50 37);
		text-transform: uppercase;
		font-weight: 700;
		position: relative;
		span {
			&:nth-child(1) {
				width: 20px;
				min-width: 20px;
				aspect-ratio: 1/1;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				&:before {
					content: "";
					width: 100%;
					height: 100%;
					position: absolute;
					inset: 0;
					background-image: url(../images/m1.svg);
					background-position: center;
					background-size: 20px;
					background-repeat: no-repeat;
				}
			}
			&:nth-child(2) {
				min-width: max-content;
			}
		}
		&:hover {
		}
	}
}

.sidebar__footer {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	bottom: 0;
	z-index: 2;
	gap: 10px 6px;
	padding: 0 12px 68px;
	a {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 60px;
		width: calc(50% - 3px);
		gap: 4px;
		background-color: rgb(224 179 135);
		border-radius: 8px;
		color: rgb(132 50 37);
		text-align: center;
		font-weight: 700;
		font-size: 12px;
		line-height: 1.2;
		box-shadow: 0 -1.5px 0 0 rgb(210 151 99 / 1) inset,
			0 1.5px 0 0 rgb(134 53 38 / 0.41);
		text-transform: uppercase;
		&:nth-child(1) {
			width: 100%;
			flex-direction: row;
			justify-content: flex-start;
			height: 45px;
			padding: 0 16px;
			gap: 10px;
			img {
				aspect-ratio: unset;
				border-radius: 0;
				width: 15px;
			}
			div {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				p {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					span {
						&:nth-child(2) {
							text-transform: capitalize;
							color: rgb(168 99 64);
							font-weight: 400;
						}
					}
				}
				svg-icon-sprite {
					width: 16px;
					svg {
						fill: rgb(132 50 37);
					}
				}
			}
		}
		span,
		p {
			min-width: max-content;
		}
		img {
			width: 20px;
			aspect-ratio: 1/1;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}

.wrap {
	padding-left: 232px;
	transition-duration: 0.3s;
	&.active {
		padding-left: 80px;
	}
}

.banner--wrap {
	.container {
		width: 100%;
	}
}

.banner {
	aspect-ratio: 1688/468;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 10px;
}

.banner__img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.banner__content {
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 660px;
	height: 100%;

	background: radial-gradient(
		50% 75.46% at 50% 50%,
		rgba(255 255 255 / 0.6),
		rgba(255 255 255 / 0)
	);
	margin-inline-start: 120px;
	padding: 0 100px;
	p {
		position: relative;
		&:nth-child(1) {
			background-color: rgb(132 50 37);
			height: 24px;
			padding: 0 10px;
			color: rgb(255 255 255);
			position: relative;
			&:before {
				width: 5px;
				height: 100%;
				background-position: 0;
				background-size: cover;
				top: 0;
				left: -4px;
				transform: scaleX(-1);
				content: "";
				position: absolute;
				background-image: url(../images/side-part-red.258edfb8015fe095.svg);
				background-repeat: no-repeat;
			}
			&::after {
				width: 5px;
				height: 100%;
				background-position: 0;
				background-size: cover;
				top: 0;
				right: -4px;
				content: "";
				position: absolute;
				background-image: url(../images/side-part-red.258edfb8015fe095.svg);
				background-repeat: no-repeat;
			}
		}
		&:nth-child(2) {
			margin-top: 6px;
			font-size: 68px;
			text-shadow: 0 2px 0 rgb(132 50 37), 1.4px 0 0 rgb(132 50 37),
				1px 0 0 rgb(132 50 37), 0.5px 0.8px 0 rgb(132 50 37),
				-0.4px 0.9px 0 rgb(132 50 37), -0.9px 0.1px 0 rgb(132 50 37),
				-0.6px -0.7px 0 rgb(132 50 37), 0.2px -0.9px 0 rgb(132 50 37),
				0.9px -0.2px 0 rgb(132 50 37), 1px 6px 6px rgb(214 180 154 / 0.1),
				1px 3.5px 0 rgb(132 50 37);
			font-weight: 700;
			text-transform: uppercase;
			color: rgb(255 204 1);
		}
	}
	a {
		margin-top: 10px;
		height: 80px;
		font-size: 28px;
		padding: 0 40px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		border-radius: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url(../images/primary-left.webp),
			url(../images/primary-right.webp), url(../images/primary-center.webp);
		color: rgb(255 255 255);
		background-size: 30px 100%, 30px 100%, auto 100%;
		background-repeat: no-repeat, no-repeat, repeat-x;
		background-position: left center, right center, left 30px center;
		text-shadow: 0 2px 0 rgb(9 138 0 / 0.4), 1.4px 0 0 rgb(9 138 0),
			0.6px 1px 0 rgb(9 138 0), -0.6px 1.2px 0 rgb(9 138 0),
			-0.2px 0.2px 0 rgb(9 138 0), -1px -0.9px 0 rgb(9 138 0),
			0.5px -1.2px 0 rgb(9 138 0), 1.4px -0.5px 0 rgb(9 138 0);
	}
}

.top--menu {
	top: 82px;
	z-index: 9;
	position: sticky;
	overflow: hidden;
	margin: 0 auto;
	background-color: rgb(245, 227, 201);
	padding: 16px 0 8px;
	border-bottom: 1px solid rgb(255 254 245);
	&::after {
		content: "";
		height: 1px;
		background: rgb(214 180 154);
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.top__menu {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 60px;
		right: 0;
		top: 0;
		background-image: linear-gradient(
			270deg,
			rgb(245 227 201) 50%,
			rgb(255 255 25 / 0) 100%
		);
	}
}

.top__menu__row {
	overflow-x: auto;
	padding: 16px 20px 8px;
	&::-webkit-scrollbar {
		display: block;
		height: 11px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgb(132 50 37);
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	ul {
		display: flex;
		gap: 8px;
		min-width: max-content;
		justify-content: center;
		li {
			&:last-child {
				position: relative;
				z-index: 2;
			}
		}
		a {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-align: center;
			padding: 0 12px;
			height: 64px;
			min-width: 100px;
			font-size: 14px;
			line-height: 1.4;
			text-transform: uppercase;
			font-weight: 700;
			color: rgb(132 50 37);
			background-color: rgb(255 254 245);
			border-radius: 14px;
			box-shadow: 0px 3px 0px 0px rgb(214 180 154),
				0px 3px 6px 0px rgb(214 180 154 / 0.4),
				0px -3px 1px 0px rgb(237 225 213) inset;
			span {
				position: relative;
				&:nth-child(1) {
					width: 44px;
					aspect-ratio: 1/1;
					display: flex;
					align-items: center;
					justify-content: center;
					transform: translateY(-16px);
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 16px;
}

.cards__row {
	display: flex;
	flex-direction: column;
	gap: 8px;
	&:nth-child(3) {
		.cards__list {
			grid-template-columns: repeat(3, 1fr);
		}
		.cards__item__body {
			aspect-ratio: 545 / 367;
		}
	}
}

.cards__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cards__title {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	span {
		position: relative;
		&:nth-child(1) {
			width: 32px;
			aspect-ratio: 1/1;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.cards__line {
	display: none;
}

.cards__nav {
	display: flex;
	align-items: center;
	gap: 12px;
	p {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
		color: rgb(255 85 0);
	}
}

.cards__arrows {
	display: flex;
	align-items: center;
	gap: 4px;

	span {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url(../images/arrow-btn-back.webp) no-repeat center;
		background-size: cover;

		svg-icon-sprite {
			width: 24px;
			svg {
				fill: rgb(255 255 255);
			}
		}
		&:first-child,
		&:hover {
			opacity: 0.5;
		}
	}
}

.cards__list {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 12px;
}

.cards__item__body {
	position: relative;
	aspect-ratio: 200/300;
	overflow: hidden;
	border-radius: 16px;
	border: 5px solid rgb(204 125 86);
	border-bottom-width: 8px;
	span {
		display: none;
	}
	img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
}

.cards__item__title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	margin-top: 4px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;
	color: rgb(132 50 37);
}

.content--wrap {
	padding: 40px 80px;
	position: relative;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.content__item {
	font-size: 18px;
	line-height: 1.4;
	h1,
	h2,
	h3,
	h4 {
		font-weight: 600;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 27px;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	p,
	.content__table,
	ul {
		margin-bottom: 20px;
	}
	ol,
	ul {
		padding-left: 50px;
		list-style: auto;
		display: flex;
		flex-direction: column;
		gap: 15px;
		p {
			margin-bottom: 15px;
		}
	}
	ul {
		list-style: disc;
	}

	h3,
	ol,
	ul,
	p,
	.content__table {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.faq {
		.faq__item {
			margin-bottom: 25px;
			p,
			ol,
			ul,
			.content__table {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			p {
				&:first-child {
					margin-bottom: 15px;
					font-size: 25px;
					font-weight: 900;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.content__table {
	table {
		border-collapse: collapse;
	}
	th,
	td {
		padding: 12px;
		border: 1px solid rgb(255, 255, 255);
		text-align: left;
		font-weight: 500;
	}
}

.table--style {
	tr {
		&:first-child {
			td {
				background: linear-gradient(
					180deg,
					rgb(219, 255, 0) 0%,
					rgb(180, 197, 0) 100%
				);
				color: rgb(3, 10, 10);
			}
		}
	}
	th {
		background: linear-gradient(
			180deg,
			rgb(219, 255, 0) 0%,
			rgb(180, 197, 0) 100%
		);
		color: rgb(3, 10, 10);
	}
}

footer {
	padding: 24px 0 32px;
	position: relative;
	background: url(../images/stroke-left-angle.webp) no-repeat top left,
		url(../images/stroke-right-angle.webp) no-repeat top right,
		url(../images/stroke-up-part.webp) repeat-x 56px top,
		url(../images/stroke-left-part.webp) repeat-y left 56px,
		url(../images/stroke-right-part.webp) repeat-y right 56px,
		url(../images/footer-bg.webp) no-repeat bottom center,
		linear-gradient(180deg, #ebd1b7, rgb(245 227 201) 40%);
	background-size: 56px, 26px 56px, 16px 10px, 10px 16px, 10px 16px,
		2270px 330px, cover;
	border-radius: 32px 32px 0 0;
	&::before {
		content: "";
		position: absolute;
		pointer-events: none;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 0 20px;
}

.footer__top {
	display: flex;
	justify-content: center;
	gap: 8px;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		width: 156px;
		gap: 6px;
		border-radius: 14px;
		background: rgb(255 254 245);
		box-shadow: 0 -3px 1px rgb(237 225 213) inset,
			0 3px 6px rgba(214 180 15 / 0.4), 0 3px rgb(214 180 154);
		color: rgb(132 50 37);
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		svg-icon-sprite {
			width: 20px;
			svg {
				fill: rgb(132 50 37);
			}
		}
		img {
			width: 24px;
			aspect-ratio: 1/1;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}

.footer__menu {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 40px;
	font-size: 12px;
	line-height: 1.4;
	color: rgb(168 99 64);
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		gap: 16px;
		display: flex;
		flex-direction: column;
	}
}

.footer__menu__title {
	font-size: 14px;
	color: rgb(132, 50, 37);
	font-weight: 700;
}

.footer__menu__item {
	display: flex;
	flex-direction: column;
	gap: 16px;
	&:nth-child(2) {
		margin-top: 60px;
	}
}

.footer__pay {
	display: flex;
	justify-content: center;
	gap: 8px;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		min-width: 78px;
		height: 40px;
		border-radius: 10px;
		background: rgb(255 254 245);
		box-shadow: 0 -3px 1px rgb(237 225 213) inset,
			0 3px 6px rgba(214 180 154 / 0.4), 0 3px rgb(214 180 154);
		color: rgb(255 85 0);
		text-transform: uppercase;
		font-size: 14px;
		&:last-child {
			border: 0;
			background: none;
			box-shadow: none;
		}
		svg-icon-sprite {
			width: 12px;
			svg {
				fill: rgb(255 85 0);
			}
		}
		img {
			width: 66px;
		}
	}
}

.footer__media {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 40px;
	}
}

.footer__copyright {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	color: rgb(168 99 64);
	line-height: 1.6;
	font-size: 12px;
}

@media (max-width: 1919px) {
	.cards__list {
		grid-template-columns: repeat(7, 1fr);
	}
	.cards__item:nth-child(n + 8) {
		display: none;
	}
	.banner {
		aspect-ratio: 1304/400;
	}
	.banner__content {
		width: 540px;
		margin-inline-start: 100px;
	}
	.banner__content p:nth-child(2) {
		font-size: 52px;
	}
	.banner__content a {
		margin-top: 10px;
	}
}

@media (max-width: 1279px) {
	.burger {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 10px;
		background-color: rgb(102, 27, 37);
		box-shadow: 0 2px 1px rgb(82, 20, 28) inset;

		svg-icon-sprite {
			width: 20px;
		}
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			&:nth-child(2) {
				display: none;
			}
		}
		&.active {
			span {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: flex;
				}
			}
		}
	}
	.header__icon {
		display: none;
	}
	.header__logo {
		width: 50px;
		aspect-ratio: 50/44;
	}
	.header__search {
		display: none;
	}
	header {
		height: 65px;
		background-size: 37px 65px, 37px 65px, auto 65px;
		background-position: left center, right center, left 37px center;
		background-repeat: no-repeat, no-repeat, repeat;
		border-radius: 0 0 22px 22px;
	}
	.sidebar {
		width: 420px;
		left: -420px;
		transition-duration: 0.3s;
		background-color: rgb(245 227 201);
		background-image: url(../images/footer-bg.webp);
		background-repeat: no-repeat;
		background-position: bottom -20px center;
		background-size: auto 150px;
		&.active {
			left: 0;
			width: 420px;
			.sidebar__list a {
				&::after {
					display: block;
				}
				span:nth-child(2) {
					display: block;
				}
			}
			.sidebar__footer {
				grid-template-columns: repeat(2, 1fr);
				a span {
					display: block;
				}
			}
		}
		.header__search {
			display: flex;
			width: 100%;
		}
	}

	.wrap {
		padding-left: 0;
		position: relative;
		&.active {
			padding-left: 0;
			&::before {
				opacity: 1;
			}
		}
		&::before {
			content: "";
			pointer-events: none;
			z-index: 50;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			transition-duration: 0.3s;
			left: 0;
			background: rgb(0 0 0 / 0.8);
			opacity: 0;
		}
	}

	.cards__list {
		grid-template-columns: repeat(6, 1fr);
	}
	.cards__item:nth-child(n + 7) {
		display: none;
	}

	.cards__arrows {
		display: none;
	}

	.footer__menu {
		grid-template-columns: repeat(4, 1fr);
	}
	.footer__column:nth-child(n + 5) {
		display: none;
	}

	.content--wrap {
		padding: 40px 0px;
	}
	.footer {
		padding: 0;
	}

	.header__left {
		gap: 10px;
	}

	.banner__content {
		width: 100%;
		margin-inline-start: 0;
		padding: 0;
	}
	.banner__content p:nth-child(2) {
		font-size: 32px;
	}
	.banner__content p:nth-child(1) {
		font-size: 14px;
	}
	.top--menu {
		top: 64px;
		padding: 8px 0 4px;
	}
	.top__menu__row {
		padding: 0 20px 4px;
		&::-webkit-scrollbar {
			height: 4px;
		}
	}
	.top__menu__row ul a {
		flex-direction: row;
		height: 52px;
		min-width: auto;
		gap: 8px;
	}
	.top__menu__row ul a span:nth-child(1) {
		width: 30px;
		transform: translateY(0);
	}
	.top__menu::after {
		display: none;
	}
	.sidebar {
		padding-top: 65px;
	}
	.sidebar__menu {
		padding: 15px;
	}
	.sidebar .header__search {
		color: rgb(132 50 37);
		background-color: rgb(255 254 245);
		border: 1px solid rgb(214 180 154);
		border-radius: 10px;
		box-shadow: 0 1px 0 0 rgb(255 255 255);
		min-height: 52px;
		margin-bottom: 8px;
	}
	.header__search svg-icon-sprite svg {
		fill: rgb(132 50 37);
	}
	.sidebar__list {
		padding: 0;
	}
	.sidebar__list a {
		padding: 0 10px;
		text-shadow: none;
		color: rgb(132 50 37);
		height: 50px;
	}
	.sidebar__list:nth-child(4) a {
		background: transparent;
		border-image: none;
		padding-left: 10px;
		color: rgb(255 85 0);
	}
	.sidebar__list:nth-child(4) a::before {
		display: none;
	}
	.sidebar__list:after {
		position: absolute;
		bottom: 0;
		inset-inline-start: 0;
		display: block;
		width: 100%;
		height: 1px;
		background-image: none;
		background-color: rgb(229 186 165);
		box-shadow: 0 1px rgb(255 254 245);
	}
	.sidebar.active .sidebar__footer a p {
		display: flex;
	}
	.sidebar.active .sidebar__footer a svg-icon-sprite {
		display: block;
	}
}

@media (max-width: 767px) {
	.sidebar {
		width: 100%;
		left: -100%;
	}
	.sidebar.active {
		width: 100%;
	}
	.cards__list {
		grid-template-columns: repeat(3, 1fr);
	}
	.cards__item:nth-child(n + 7) {
		display: none;
	}
	.content__item ol,
	.content__item ul {
		padding-left: 30px;
	}
	.content__item {
		font-size: 16px;
	}
	.content__table th,
	.content__table td {
		padding: 8px;
	}
	.footer__menu {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 20px;
		padding: 0 30px;
	}

	.footer__top {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		a {
			width: 100%;
		}
	}

	.footer__pay {
		flex-wrap: wrap;
	}

	.cards__row:nth-child(3) .cards__list {
		grid-template-columns: repeat(1, 1fr);
	}
	.banner {
		aspect-ratio: 375 / 450;
	}
	header .container {
		width: calc(100% - 32px);
	}
	.header__btn {
		height: 40px;
		font-size: 12px;
		padding: 0 14px;
	}
	.header__right {
		gap: 4px;
	}
	.banner {
		align-items: flex-end;
	}
	.banner__content {
		padding: 0 18px 18px;
		margin-top: -30px;
		height: 208px;
		&:before {
			content: "";
			position: absolute;
			bottom: calc(100% - 13px);
			width: 100%;
			height: 88px;
			background: linear-gradient(
				180deg,
				rgba(245 227 201 / 0),
				rgba(245 227 201 / 0.6) 35%,
				rgb(245 227 201)
			);
			pointer-events: none;
		}
	}
	.top__menu__row {
		padding: 0 16px 4px;
	}
	.container {
		width: calc(100% - 32px);
	}
	.header {
		transform: translateY(-3px);
	}
	.cards__title {
		font-size: 20px;
	}
	.cards__title span:nth-child(1) {
		width: 28px;
	}
	.cards__list {
		gap: 8px;
	}
	.sidebar__footer {
		padding: 0 15px 15px;
	}
}

@media (max-width: 370px) {
	.banner__content:before {
		display: none;
	}
}
